* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Poppins, sans-serif;
  src: url(fonts/Poppins-Black.ttf);
}

.portfolio {
  display: none;
}

body {
  background-color: #e5e5e5;
}

.main {
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 24px;
  border-bottom-left-radius: 24px;
  background-color: #fff;
}

.mylogo {
  height: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.nav {
  cursor: pointer;
}

.first-page {
  background: #fff url(images/main-page-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom-left-radius: 60px;
  padding: 4px 12px;
}

.myheader {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding: 4px 12px;
}

.content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 20px;
  padding: 4px 12px;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 24px;
  padding: 4px 12px;
}

.connect:hover {
  color: #fff;
  background-color: #7f8cff;
  padding: 4px 12px;
}

.social-media {
  display: flex;
  width: 200px;
  justify-content: space-between;
  padding: 4px 12px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.project-section {
  background: #e5e5e5;
}

.project {
  display: grid;
  border-radius: 16px;
  background-color: #fff;
  padding: 16px;
}

.project-title {
  font-size: 32px;
  font-weight: 700;
  color: #172b4d;
}

.project-meta-data {
  display: flex;
  align-items: center;
  color: #7a869a;
  gap: 12px;
  margin-bottom: 20px;
}

.project-client {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.project-tech,
.project-year {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.project-description {
  margin-bottom: 16px;
}

.project-tags {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.tags {
  color: #6070ff;
  padding: 6px;
  border-radius: 8px;
  background: #ebebff;
}

.project-button button {
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
  background: #fff;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-top: 20px;
}

.get-in-touch button {
  color: #6070ff;
  font-weight: 500;
  font-size: 17px;
  background: #fff;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-left: 40px;
}

.about-section {
  display: grid;
  row-gap: 12px;
  padding: 7.125rem 1.5rem;
  background-color: white;
  border-top-right-radius: 80px;
}

.about-myself {
  color: #172b4d;
  font-size: 40px;
}

.about {
  padding: 20px;
  flex-direction: column;
}

.languages {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img-background: {
  color: orange;
  padding: 20px;
}

.skill-title {
  display: flex;
}

.contact-me {
  background: #6070ff url(images/contact-form-bg.svg);
  background-position-x: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  border-top-left-radius: 100px;
  color: #ebebff;
  padding: 24px;
}

.contact-me-text {
  margin-top: 103px;
  color: #ebebff;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  text-align: center;
}

.contact-me-brief {
  color: #ebebff;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  margin: 40px;
  text-align: center;
}

.input-field-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 40px;
}

.input-field {
  align-items: center;
  border-radius: 8px;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  height: 24px;
  padding: 10px;
}

.write-message {
  border-radius: 8px;
  font-weight: 400;
  font-size: 17px;
  color: #172b4d;
  padding: 15px 38px 0 16px;
}

.project-button:hover button {
  color: #fff;
  background-color: #7f8cff;
}

.project-button:active button {
  color: #fff;
  background-color: #3347ff;
}

.get-in-touch:hover button {
  color: #fff;
  background-color: #7f8cff;
}

.get-in-touch:active button {
  color: #fff;
  background-color: #3347ff;
}
